<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
</head>
<body>
    <div class="row" style="padding-top: 2em;">
        <div  class="col-lg-4">
    <img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674860780/APLogo-20-20.png">
    </div>
    <div class="col-lg-8" style="margin-left: 70em;margin-top: -100px;">
        <a  href="https://www.linkedin.com/in/marcelo-vargas-0685aa216/" target="_blank"><img style="background-color: white;height: 50px; width: 50px;border-radius: 30px;margin-right: 6px;" src="https://cdn-icons-png.flaticon.com/512/61/61109.png?w=740&t=st=1677626503~exp=1677627103~hmac=daf421a5cb5dcd7ec0d9120bd89b1446407abf5a8227551ed743b1a1b2c6ccdd"></a>
       <a href="https://twitter.com/gamarra_chelo" target="_blank"> <img style="background-color: white;height: 50px; width: 50px;border-radius: 15px;margin-right: 6px;"
        alt="twitter" id="socciales"
        src="https://img.icons8.com/ios/50/null/twitter--v1.png" /></a>
       <a href="https://www.instagram.com/chelogamarra4/" target="_blank"> <img style="background-color: white;height: 50px; width: 50px;border-radius: 18px;margin-right: 6px;"
                    src="https://img.icons8.com/ios/50/null/instagram-new--v1.png" /></a>
    
                   <a  href="inicioDeSesion.html" target="_blank"> <img style="background-color: white; height: 50px; width: 50px;border-radius: 35px;" alt="inicio de sesion"
                    src="https://img.icons8.com/ios/50/null/cat-profile.png" /></a>
    </div>
    </div>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>
</html>


