<div class="row">
    <div class="col-lg-2">
        <img src="https://www.doppelme.com/200/PA232FF4C:I167:I20055AA:C1471:C2EEEEEE:J2FFFFFF:B2FFFFFF:E140:E2FFFFFF:F1103:F2000001:G1190:G2FF75E4:D2EEEEEE:H2EEEEEE:K2FFFFFF:M11101/avatar.png" alt="">
    </div>
    <div class="col-lg-8">
<h4>
    Marcelo Gamarra
</h4>
<p>Desarrollador Jr FullStack - Estoy buscando sumar experiencias y lograr encontrar un equipo</p>
    <p> con el cual podes desarrollar ideas sin la fundamentacion del dinero de por medio</p>
    </div>
</div>
